<aside class="basket" id="basket">
    <button class="basket-close" id="basketClose">
        <i class="fas fa-times"></i>
    </button>
    <div class="basket-empty" id="basketEmpty">
        Кошик пустий
    </div>
    <div class="basket-content" id="basketContent">
        <div class="basket-list" id="basketList"></div>
        <div class="basket-info">
            <div class="basket-counter">
                <p>
                    Кількість товару:
                </p>
                <p>
                    <span id="basketCounter"></span>
                    шт.
                </p>
            </div>
            <div class="basket-price">
                <p>
                    Загальна сума:
                </p>
                <p>
                    <span id="basketPrice"></span>
                    грн
                </p>
            </div>
        </div>
        <button class="basket-reset btn btn-primary" id="basketReset" type="button">
            Очистити
        </button>
    </div>
</aside>